<!doctype html>
<html>
  <head>
    <% if build? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116599641-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116599641-4');
      </script>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Flashover" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= tag :link, rel: 'icon', type: 'image/png', href: image_url('icon.png') %>
    <%= tag :meta, property: 'og:title', content: current_page.data.title || "Flashover" %>
    <%= tag :meta, property: 'og:type', content: current_page.data.type || "website" %>
    <%= tag :meta, property: 'og:url', content: current_url(current_page.url) %>
    <%= tag :meta, property: 'og:description', content: current_page.data.description || config[:site_description] %>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="p-4">
      <div class="container mx-auto relative">
        <header class="header max-w-140 mx-auto mb-8 text-center lg:text-left lg:max-w-xxs lg:m-0 lg:absolute lg:pin-l lg:pin-t">
          <h1 class="mb-1">
            <%= link_to 'Flashover', '/', class: 'no-underline text-black' %>

          </h1>
          <div class="font-normal text-lg mb-3">
            by
            <%= link_to 'Joonas Kykkänen', 'https://twitter.com/jonassskay', class: 'no-underline' %>
          </div>
          <p class="leading-tight text-lg text-grey-darkest mb-3">
            <%= config[:site_description] %>
          </p>
          <nav>
            <%= link_to 'Read all posts', '/', class: 'underline' %>
          </nav>
        </header>
        <main class="max-w-140 mx-auto py-2">
          <%= yield %>
        </main>
      </div>
    </div>
    <div class="bg-grey-lighter px-4 py-8">
      <div class="container mx-auto text-right">
        <footer class="inline-block max-w-140 text-left py-6">
          <div class="my-1"><strong>flashover</strong></div>
          <div class="text-sm">
            <em>noun</em>
            <ol>
              <li class="my-1">
                a high-voltage electric short circuit made through the air between exposed conductors.
              </li>
              <li class="my-1">
                an instance of a fire spreading very rapidly through the air because of intense heat.
              </li>
              <li class="my-1">
                the moment a conversation becomes real and alive, which occurs when a spark of trust
                shorts out the delicate circuits you keep insulated under layers of irony, momentarily
                grounding the static emotional charge you’ve built up through decades of friction with
                the world.
              </li>
            </ol>
          </div>
          <div class="mt-8 text-sm text-grey-darker">
            <div class="mb-2">
              Definition of flashover is provided by
              <a href="http://www.dictionaryofobscuresorrows.com/">The Dictionary of Obscure Sorrows</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
