<!doctype html>
<html>
  <head>
    <% if build? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116599641-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116599641-4');
      </script>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= "#{current_page.data.title} | Flashover" || "Flashover" %></title>
    <%= feed_tag :atom, "#{blog('blog').options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= tag :link, rel: 'icon', type: 'image/png', href: image_url('icon.png') %>
    <%= tag :meta, property: 'og:title', content: current_page.data.title || "Flashover" %>
    <%= tag :meta, property: 'og:type', content: current_page.data.type || "website" %>
    <%= tag :meta, property: 'og:url', content: current_url(current_page.url) %>
    <%= tag :meta, property: 'og:description', content: current_page.data.description || config[:site_description] %>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body data-menu-open="false">
    <div class="mask" id="mask"></div>
    <div class="container mx-auto px-2 py-1">
      <header class="relative py-2 border-b">
        <button class="menu-button absolute pin-l pin-t mt-3 md:hidden" id="menuButton">
          <div></div><div></div><div></div>
        </button>
        <h1 class="text-center text-3xl md:text-4xl">
          <%= link_to 'Flashover', '/', class: 'no-underline text-black' %>
        </h1>
      </header>
    </div>
    <div class="p-4">
      <div class="container mx-auto md:flex xl:relative" id="content">
        <%= yield %>
      </div>
    </div>
    <div class="bg-grey-lighter px-4 py-8">
      <div class="container mx-auto text-right">
        <footer class="inline-block max-w-140 text-left py-6">
          <div class="my-1"><strong>flashover</strong></div>
          <div class="text-sm">
            <em>noun</em>
            <ol>
              <li class="my-1">
                a high-voltage electric short circuit made through the air between exposed conductors.
              </li>
              <li class="my-1">
                an instance of a fire spreading very rapidly through the air because of intense heat.
              </li>
              <li class="my-1">
                "the moment a conversation becomes real and alive, which occurs when a spark of trust
                shorts out the delicate circuits you keep insulated under layers of irony, momentarily
                grounding the static emotional charge you’ve built up through decades of friction with
                the world." (John Koenig, <a href="http://www.dictionaryofobscuresorrows.com/">The Dictionary of Obscure Sorrows</a>)
              </li>
            </ol>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
