<article class="article <%= locals.key?(:theme) && locals[:theme] %>">
  <header class="article-header relative mb-8">
    <h1 class="max-w-xs mx-auto text-center leading-tight pb-3 text-2xl sm:text-3xl">
      <% link_to article, class: 'no-underline text-black hover:text-blue-dark' do %>
        <%= article.title %>
      <% end %>
    </h1>
    <div class="max-w-sm mx-auto text-grey-darker sm:mt-1">
      <div class="mt-2 inline-block ">
        <%= link_to 'Link to post', article, class: 'no-underline hover:' %>
      </div>
      <div class="mt-2 float-right">
        <%= article.date.strftime('%b %e, %Y') %>
      </div>
    </div>
  </header>
  <div class="article-body">
    <%= article.body %>
  </div>
</article>
